:root {
  --blue: #264653;
  --green: #2a9d8f;
  --green--dark: #20776d;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
  --white: #e3ecf0;
  --black: #081013;

  --color--primary: var(--blue);
  --color--secondary: var(--blue);

  --color--text: var(--white);
  --color--background: var(--color--primary);
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color--text);
  background-color: var(--color--background);

  padding: 0;
  margin: 0;

  min-height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  letter-spacing: 0.02em;
}

button:hover,
a:hover,
input[type="submit"],
input[type="file"],
input[type="checkbox"],
select,
label {
  cursor: pointer;
}

.btn--primary,
.btn--secondary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;

  padding: 0.6em 1.2em;
  box-sizing: border-box;

  background-color: var(--color--background);
  color: var(--color--text);
  border: 1px solid var(--color--background);

  border-radius: 0.2em;

  transition: border-color 0.2s ease-in-out;
}
.btn--primary:hover,
.btn--secondary:hover {
  border-color: var(--yellow);
}

.checkbox--primary input[type="checkbox"] {
  display: none;
}
.checkbox--primary label {
  display: block;

  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;

  padding: 0.6em 1.2em;

  background-color: var(--color--background);
  color: var(--color--text);
  border: 1px solid var(--color--background);

  border-radius: 0.2em;

  cursor: pointer;

  transform: translateY(0em);

  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
.checkbox--primary label:hover {
  border-color: var(--yellow);
}
.checkbox--primary:has(input[type="checkbox"]:checked) label {
  background-color: var(--yellow);
  color: var(--black);
  border-color: var(--yellow);

  transform: translateY(0.2em);
}
.checkbox--primary:has(input[type="checkbox"]:checked) label:hover {
  border-color: var(--black);
}

#zoom-input {
  font-size: 1rem;

  padding: 0 0.5em;
  border: 0;

  display: flex;
  align-items: center;
  gap: 0.4em;
}
#zoom-input button {
  font-size: 1em;
  line-height: 100%;

  padding: 0;

  aspect-ratio: 1/1;

  height: 50%;
  border: 1px solid var(--color--text);
  border-radius: 50%;

  background-color: var(--color--background);
  color: var(--color--text);

  transform: translateY(0%);

  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}
#zoom-input button:hover {
  background-color: var(--green--dark);
}
#zoom-input button:active {
  transform: translateY(5%);
}
#zoom-input span {
  font-size: 1em;
  width: 2.6em;
  text-align: center;
}

#generate-modal[open] {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 2rem 3rem;
  border-radius: 0.6rem;

  color: var(--black);
  background-color: var(--yellow);
  --color--text: var(--white);
  --color--background: var(--black);
}
::backdrop {
  background-color: black;
  opacity: 0.75;
  cursor: pointer;
}

#generate-modal h1 {
  margin-top: 0;
  margin-bottom: 0.2em;
}

#generate-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
#generate-modal form label {
  margin-top: 0.8rem;
}

#generate-modal form input[type="submit"] {
  margin-top: 1.4rem;
  padding: 0.8em 1.2em;
  --color--background: var(--green);
}

.modal__close-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;

  font-size: 0.8rem;
  font-weight: 900;

  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 50%;

  width: 2em;
  aspect-ratio: 1/1;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > nav {
  display: flex;
  gap: 0.5rem;
  align-items: end;

  overflow-y: hidden;

  --color--background: var(--green);
  --color--text: var(--white);
}
main > nav > * {
  height: 2.325rem;
}
main > nav .btn--primary,
main > nav .checkbox--primary label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main > .wrapper {
  position: relative;

  width: calc(min(100%, (100svh - 10rem) * (16/9)));
  aspect-ratio: 16/9;
}

#info {
  width: 100%;
  font-size: 0.8rem;
  line-height: 0.5em;

  margin-bottom: 0.5em;

  display: flex;
  gap: 2rem;
}
#timer {
  font-weight: bold;
}

#puzzleCanvas {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px var(--green);
}

#image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 3%;
  box-sizing: border-box;

  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.274);

  z-index: 2;
  pointer-events: none;
}
#image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0 0 1rem var(--green);
}

#victory-message {
  display: none;
}
#victory-message.active {
  display: block;

  position: absolute;

  z-index: 3;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background-color: rgba(0, 0, 0, 0.7);
}
#victory-message h2 {
  font-size: 2em;
  font-weight: 600;

  margin: 0 0 0.4em;
}
#victory-message p {
  font-size: 1em;

  margin: 0;
}
#victory-message #victory-time {
  font-size: 2.5em;
  font-weight: 900;
}
